<body class="home">
<h1 class="home-text">Log In</h1>

<form action="<%= session_url %>" method="post">
  <%= auth_token_input %>

  <div class="form-group">
    <label>
      Username
      <input type="text" class="form-control" name="user[username]" value="">
    </label>
  </div>

  <div class="form-group">
    <label>
      Password
      <input type="password" class="form-control" name="user[password]" value ="">
    </label>
  </div>

  <input type="submit" value="Log In" class="btn btn-primary">
</form>
<br>
<form action="<%= session_url %>" method="post">
  <%= auth_token_input %>
  <input type="hidden" name="user[username]" value="Jasmine">
  <input type="hidden" name="user[password]" value="password">
  <input type="submit" class="btn btn-primary" value="Be Our Guest!">
</form>
</body>
