<form>
  <div class="form-group">
    <label>Search Ride Names...<br>
      <input class="search form-control" type="text" name="what" /></label>
  </div>
</form>

<br>
<a href="/#/rides">Full Rides Index</a>
<br>
<a href="/#/highest">Highest Rated Rides</a>
<br>
<a href="/#/rated">Rides You've Rated</a>
<br>
<a href="/#/notrated">Rides You Haven't Rated</a>

<div class="rides-collection"></div>
