<div class="sidebar col-xs-2">
<form>
  <div class="form-group">
    <label>Search Ride Names...<br>
      <input class="search form-control" type="text" name="what" /></label>
  </div>
</form>

<a href="/#/rides">All Rides</a>
<br>
<a href="/#/highest">Top Rated Rides</a>
<br>
<a href="/#/mostwanted">Most Wanted Rides</a>
<br>
<br>
<span class="glyphicon glyphicon-user user"><h4>Your Collections:</h4></span>
<br>
<a href="/#/rated">Rides You've Rated</a>
<br>
<a href="/#/notrated">Rides You Haven't Rated</a>
<br>
<a href="/#/wants">Rides You Want to Ride</a>
<br>

</div>
<div class="rides-collection"></div>
