<h1 class="ride-title col-xs-12"><%= ride.escape('name') %></h1>
<br>
<br>
<br>
<div class="left-side col-xs-6">
<img src="<%= ride.escape('image_url') %>" alt="<%= ride.escape('name') %>">
<br>
<br>
<div id="avgStarDisplay"></div>
<div id="want-view"></div>
<br>
<br>
<div id="tweets"></div>
<br>

</div>
<div class="right-side col-xs-6">
<p><%= ride.escape('description') %></p>
<div id="userStarDisplay"></div>
<div id="userStarText"></div>
<br>


<div class="reviews-window">
  <div id="review-form">
  </div>

  <div id="reviews">
  </div>
</div>
</div>
