/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.rateyo
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 75px;
  margin-bottom: 50px;
  // background: image-url('sunset_over_cinderella_castle-wallpaper-1920x1080.jpg');
  background-color: #FAEBD7;
}

img {
  max-height: 1250px;
  max-width: 800px;
}

.btn-primary {
  background-color: black;
  border-color: none;
  margin-right: 1px;
}



.thumbnail {
  max-height: 400px;
  max-width: 300px;
}

.review-heading {
  border: 1px solid black;
  padding-left: 10px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 3px #ccc;
  margin-bottom: 9px;
  margin-right: 250px;
  margin-left: 5px;
  background-color: #F5DEB3;
}
