/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.rateyo
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "lavish-bootstrap";

body {
  background-color: #CEB09F;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.home {
  background: image-url('man-made-amusement-park_00226613.jpg');
  color: #E0E0E0;
}

.alert {
  margin: 10px;
  padding-right: 20px;
}

img {
  max-height: 1250px;
  max-width: 800px;
}

.navbar {
  border: none;
}

.login-background {

}

.container {

}

.sidebar {
  // float: left;
}

.rides-display {


  // margin-left: 40px;
  // float: left;
  // -webkit-column-count: 2;
  // -moz-column-count: 2;
  // column-count: 2;
}

.btn-primary {
  // background-color: black;
  // border-color: none;
  // margin-right: 1px;
}

.want-info:hover {
  // text-decoration: none;
}

.rides-index-title {
  text-align: center;
  font-family: tahoma;
}

.ride-index-view {
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  min-width: 350px;
  margin-left: 35px;
}

.thumbnail {
  height: 275px;
  width: 400px;
  padding: 0;
  border: 0;
  background-color: none;
}

.review-heading {
  border: 1px solid black;
  padding-left: 10px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 3px #ccc;
  margin-bottom: 9px;
  margin-right: 250px;
  margin-left: 5px;
  background-color: #85758C;
}
